# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
backend/static/

# Javascript/Node
node_modules/
dist/
.angular/

# OS
.DS_Store
Thumbs.db

# Local DBs (tables are created on startup)
*.db
